{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        {% for movie in moviesdata %}
            <div class="col-md-2 mb-2">
                <div class="card movie-card clickable-card" onclick="todetails(event, '{{ movie['id'] }}', 0)">
                    <img src="{{ movie['poster'] }}" class="card-img" alt="Image not available">
                    <div class="card-body">
                        <div class="card-title">{{ movie['name'] }}</div>
                        <div class="card-options">
                            <button class="btn watch-btn"></button>
                            <button class="btn like-btn"></button>
                            <button class="btn more-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

