{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
        </div>
    </nav>
    <br>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

            <div class="row">
                <div class="col-md-3">
                    <div class="card movie-card">
                        <img src="/static/anime.jpg" class="card-img" alt="dsjgk">
                        <div class="card-body">
                            <div class="card-options">
                                <button class="btn  watch-btn" data-movie="one"></button>
                                <button class="btn like-btn" data-movie="one"></button>
                                <button class="btn more-btn" data-movie="one"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">...</div>
        </div>
{% endblock %}

